<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Listado de Películas</a></p>
    <p><a href="/genres">Generos</a></p>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
